[user]
	name = Yurchenko Dmytro
	email = yurchenko.dmytro.mss@gmail.com
[core]
	editor = notepad++ -multiInst -nosession
[diff]
	tool = p4merge
[difftool "p4merge"]
	path = C:/Program Files/Perforce/p4merge.exe
[difftool]
	promt = false
[merge]
	tool = p4merge
[mergetool "p4merge"]
	path = C:/Program File/Perforce/p4merge.exe
[mergetool]
	prompt = false
[alias]
	hist = log --oneline --graph --decorate --all
