# IDE files
.DS_Store
.vscode
.idea
.iml
.history

# dependencies
node_modules
start-here-guidelines
start

# Log file
.log

# Package Files
.zip
.gzip
.tar.gz
.rar

# Compiled class file
.class

#Other folders
lib
logs
target
out
out
gen
