body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;

    background-image: linear-gradient(-90deg, rgb(255, 0, 0) 15%, rgba(255, 123, 123, 0.5) 47%, hsl(0, 100%, 50%) 6%, hsla(120, 100%, 75%, 0.3), blue 36%, #ee4b08 32%);
} /*TRNSPHRM = linear-gradient(to right, rgb(255, 0, 0), rgba(255, 123, 123, 0.5), rgb(255, 0, 0), rgba(128, 255, 128, 0.3), blue, rgb(238, 75, 8))*/
/*var result = styleBody.match(/[^,\s]+\([\d\s,.]+\)[\s\d%]*|[\w-]+[\w\s%]+/g);*/
h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}